<h1>Teams</h1>

<ul>
  <% @teams.each do |team| %>
    <li><%= link_to team.city, team_path(team) %> - <%= link_to team.name, team_path(team) %> - <%= link_to team.wins, team_path(team) %></li>
  <% end %>
</ul>

<%= link_to "New Team", new_team_path %>

<br><hr>
Check out the featured team!
<p>
  <%= link_to @team.city, team_path(@team) %> -
  <%= link_to @team.name, team_path(@team) %> -
  <%= link_to @team.wins, team_path(@team) %>
</p>
